Repository kyma-project/third-party-images, changes with the owners that CODEOWNERS names for each.
All owners: @kyma-project/prow, @m00g3n, @pPrecel, @dbadura, @moelsayed, @cortey, @piotrmiskiewicz, @ksputo, @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby, @majakurcius, @klaudiagrz, @alexandra-simeonova, @mmitoraj, @NHingerl

initial version
  busola-e2e-cleaner/.gitignore
  busola-e2e-cleaner/Dockerfile
  busola-e2e-cleaner/Makefile
  busola-e2e-cleaner/README.md
  busola-e2e-cleaner/index.js
  busola-e2e-cleaner/package-lock.json
  busola-e2e-cleaner/package.json
Owners: @kyma-project/prow, @majakurcius, @klaudiagrz, @alexandra-simeonova, @mmitoraj, @NHingerl

update jaeger operator image to 1.30.0
  jaeger-operator/Dockerfile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

update version
  jaeger-operator/Makefile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

Bump CloudSQL image to v1.28.1
  cloudsql-proxy/Dockerfile
Owners: @piotrmiskiewicz, @ksputo

Bump etcd alpine base to 3.15.0
  etcd/Dockerfile
Owners: @piotrmiskiewicz, @ksputo

Bump CloudSQL image version to v1.28.1-alpine in Makefile
  cloudsql-proxy/Makefile
Owners: @piotrmiskiewicz, @ksputo

patch loki issue in fluent-bit
  fluent-bit/Dockerfile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

fix
  fluent-bit/Dockerfile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

Install OpenSSL dev from edge
  cloudsql-proxy/Dockerfile
  etcd/Dockerfile
Owners: @piotrmiskiewicz, @ksputo

Use HTTPS for alpine repos
  cloudsql-proxy/Dockerfile
  etcd/Dockerfile
Owners: @piotrmiskiewicz, @ksputo

update to grafana 7.5.15
  grafana/Makefile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

fix
  grafana/Makefile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

fix
  grafana/Makefile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

Bump gitea dependency
  kaniko-executer/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @moelsayed, @cortey

Code cleanup
  kaniko-executer/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @moelsayed, @cortey

Bump kiwigrid/k8s-sidecar
  kiwigrid-sidecar/Makefile
Owners: @kyma-project/prow

Fix fetching requirements.txt
  kiwigrid-sidecar/Dockerfile
Owners: @kyma-project/prow

Bump Python
  kiwigrid-sidecar/Dockerfile
Owners: @kyma-project/prow

K8s-tools: bump k8s version to 1.21.10
  k8s-tools/Dockerfile
Owners: @kyma-project/prow

Fix CVE-2022-23806
  kaniko-executer/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @moelsayed, @cortey

update to goland 1.17.7
  kaniko-executer/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @moelsayed, @cortey

Bump cloudsql-gce-proxy ver to 1.29.0
  cloudsql-proxy/Dockerfile
  cloudsql-proxy/Makefile
Owners: @piotrmiskiewicz, @ksputo

update to fluent-bit 1.8.13
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

fix
  loki/Dockerfile
Owners: @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

update to kiwigrid 1.15.7
  kiwigrid-sidecar/Makefile
Owners: @kyma-project/prow

migrate from CODEOWNERS to OWNERS
  OWNERS
  OWNERS_ALIASES
  cloudsql-proxy/OWNERS
  docker-registry/OWNERS
  etcd/OWNERS
  fluent-bit/OWNERS
  grafana/OWNERS
  jaeger-operator/OWNERS
  kaniko-executer/OWNERS
  kiali/OWNERS
  kiwigrid-sidecar/OWNERS
  loki/OWNERS
  minio-mc/OWNERS
  minio/OWNERS
  oauth2-proxy/OWNERS
  prometheus-node-exporter/OWNERS
Owners: @kyma-project/prow, @piotrmiskiewicz, @ksputo, @m00g3n, @pPrecel, @dbadura, @moelsayed, @cortey, @a-thaler, @skhalash, @lilitgh, @rakesh-garimella, @chrkl, @lindnerby

update ci and general owners
  .github/OWNERS
  OWNERS
  k8s-tools/OWNERS
Owners: @kyma-project/prow

add owners to common
  common/OWNERS
Owners: @kyma-project/prow

add documentation owners
  .github/ISSUE_TEMPLATE/OWNERS
  OWNERS_ALIASES
Owners: @kyma-project/prow

remove voigt
  OWNERS_ALIASES
Owners: @kyma-project/prow

Update OWNERS_ALIASES
  OWNERS_ALIASES
Owners: @kyma-project/prow

update owners
  OWNERS_ALIASES
Owners: @kyma-project/prow

CODEOWNERS:

# This file provides an overview of code owners in the `third-party-images` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `third-party-images` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @kyma-project/prow

# The `docker-registry` repo
/docker-registry/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `minio` repo
/minio/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `minio client` repo
/minio-mc/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `kaniko-executer` repo
/kaniko-executer/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `serverless-bench` repo
/serverless-bench/ @m00g3n @pPrecel @dbadura @moelsayed @cortey

# The `cloudsql-proxy` repo
/cloudsql-proxy/ @piotrmiskiewicz @ksputo 

# The `etcd` repo
/etcd/ @piotrmiskiewicz @ksputo

# The `fluent-bit` repo
/fluent-bit/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `grafana` repo
/grafana/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `jaeger-operator` repo
/jaeger-operator/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `kiali` repo
/kiali/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `loki` repo
/loki/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `oauth2-proxy` repo
/oauth2-proxy/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `prometheus-node-exporter` repo
/prometheus-node-exporter/ @a-thaler @skhalash @lilitgh @rakesh-garimella @chrkl @lindnerby

# The `k8s-tools` repo
/k8s-tools/ @kyma-project/prow

# All .md files
*.md @majakurcius @klaudiagrz @alexandra-simeonova @mmitoraj @NHingerl
