Repository kyma-project/third-party-images, changes with the owners that CODEOWNERS names for each.
All owners: @a-thaler, @skhalash, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @tobiscr, @kyma-project/prow, @m00g3n, @pPrecel, @dbadura, @tgorgol, @rJankowski93, @moelsayed, @piotrmiskiewicz, @ksputo, @majakurcius, @klaudiagrz, @alexandra-simeonova, @mmitoraj, @NHingerl

replace Dockerfile
  serverless-bench/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @tgorgol, @rJankowski93, @moelsayed

Upgrade oauth2 proxy to 7.2.1
  oauth2-proxy/Makefile
  oauth2-proxy/README.md
Owners: @a-thaler, @skhalash, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @tobiscr, @kyma-project/prow, @majakurcius, @klaudiagrz, @alexandra-simeonova, @mmitoraj, @NHingerl

Bump kubectl to 1.21.9 in k8s-tools
  k8s-tools/Dockerfile
Owners: @kyma-project/prow

Bump Alpine
  k8s-tools/Dockerfile
Owners: @kyma-project/prow

Update serverless-bench/README.md
  serverless-bench/README.md
Owners: @majakurcius, @klaudiagrz, @alexandra-simeonova, @mmitoraj, @NHingerl

update to fluent-bit 1.8.12
  fluent-bit/Dockerfile
  fluent-bit/Makefile
Owners: @a-thaler, @skhalash, @lilitgh, @suleymanakbas91, @clebs, @rakesh-garimella, @tobiscr, @kyma-project/prow

Add coreutils to serverless-bench
  serverless-bench/Dockerfile
Owners: @m00g3n, @pPrecel, @dbadura, @tgorgol, @rJankowski93, @moelsayed

CODEOWNERS:

# This file provides an overview of code owners in the `third-party-images` repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of the `third-party-images` repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @a-thaler @skhalash @lilitgh @suleymanakbas91 @clebs @rakesh-garimella @tobiscr @kyma-project/prow

# The `docker-registry` repo
/docker-registry/ @m00g3n @pPrecel @dbadura @tgorgol @rJankowski93

# The `minio` repo
/minio/ @m00g3n @pPrecel @dbadura @tgorgol @rJankowski93

# The `minio client` repo
/minio-mc/ @m00g3n @pPrecel @dbadura @tgorgol @rJankowski93

# The `kaniko-executer` repo
/kaniko-executer/ @m00g3n @pPrecel @dbadura @tgorgol @rJankowski93 @moelsayed

# The `serverless-bench` repo
/serverless-bench/ @m00g3n @pPrecel @dbadura @tgorgol @rJankowski93 @moelsayed

# The `cloudsql-proxy` repo
/cloudsql-proxy/ @piotrmiskiewicz @ksputo 

# The `etcd` repo
/etcd/ @piotrmiskiewicz @ksputo 

# The `k8s-tools` repo
/k8s-tools/ @kyma-project/prow

# All .md files
*.md @majakurcius @klaudiagrz @alexandra-simeonova @mmitoraj @NHingerl
